*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(marvel.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center
}
header{
    /*background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(marvel.jpg);*/
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 20px;
    
   
}
ul li{
    display: inline-block;
    
    
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.7s ease;
   
}
ul li a:hover{
    background-color: #fff;
    color: #000000;
}
.main{
    max-width: 1300px;
    margin: auto;
}
ul li.active a{
    background-color: #fff;
    color: #000000;
}
.ps{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.ps h1{
    color: #fff;
    font-size: 30px;
    
    
}
.photo{
  position: absolute;
  top: 35%;
  left: 24%;
  background-color: rgba(117, 190, 218, 0.3);
  height:360px ;
  width: 750px;
  
  
}
.profil img{
    position: absolute;
    height:290px ;
    width:200px ;
    box-shadow:6px 3px 6px 3px;
    top: 42%;
    left: 26%;

}
.article{
    position: absolute;
    top: 42%;
    left: 42%;

}
.article p, h1{
    color: white;
    text-align: center;
}
.article p{
    margin-top: 30px;
}
