*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/570265.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{

    list-style-type: none;
    float: right;
    margin-top: 20px;
    margin-right: -10px;
    
   
}
ul li{
    display: inline-block;
    
    
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.7s ease;
    border-radius: 3px;
   
}
ul li a:hover{
    background-color: #fff;
    color: #000000;
}
.main{
    max-width: 1300px;
    margin: auto;
}
ul li.active a{
    background-color: #fff;
    color: #000000;
}
.ps{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.ps h1{
    color: #fff;
    font-size: 50px;
    
    
}
.boutton{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.5s ease; 
}
.btn:hover{
    background-color: #fff;
    color: #000000
}
 .ps{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
    }
    .ps h1{
        color: #fff;
        font-size: 55px;
        
        
    }
    .ps p{
        font-style: italic;
        color: white;
    }


footer div{
        position: fixed;
}

footer .wave{
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0;
    left: 0;
    background: url(../img/waa.png);
    
    opacity: 0.4;
    animation: animate 15s linear infinite;
}

footer .wave:before{
    content: '';
    width: 100%;
    height: 25px;
    background: url(../img/waa.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    animation: animate-reverse 15s linear infinite;


}

@keyframes animate{

    0%{
        background-position: 0;
    }
    100%{
        background-position: 1360px;
    }

}

@keyframes animate-reverse{

    0%{
        background-position: 1360px;
    }
    100%{
        background-position: 0;
    }

}
.logo p a{

    color: white;
    text-decoration: none;
    font-size: 45px;
    font-weight: 900;
    font-family: 'Fjalla One',sans-serif ;
    margin-left: 20px;
    
}
.box{
    
    border-radius: 3px;
    width: 1000px;
    height: 455px;
    background: rgba(0,0,0,0.5);
    padding: 15px 20px;
    margin-top: 25px;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    

}
.box-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin: 0 auto;

    
   
}


.box p{
    
    margin-top: 30px;

    
}

.box h2{
    font-size: 25px;
    text-align: center;

}
.box h3{
    text-align: center;
}
.box h2{
    margin-bottom: 20px;
}

header div:nth-child(3){
    margin: 25px auto;
    
}
img.box-img{
    margin: 0 400px;
}